#wrapper {
	width: 1070px;
	margin: 0px auto;
	padding: 5px;
	overflow: scroll;
    color: black;
}
#submitadd {
	margin-left: 1000px;
}
#formid {
	display: inline-block;
	margin: 10px;
}
#centralize {
	margin-top: 100px;
}
#line {
	height: 80px;
	width: 1000px;
	border-radius: 5px;
}
#usersdropdown, #coursesdropdown, #addusertocoursebutton {
	display: inline-block;
	margin: 15px 25px 15px 0px;
	padding: 5px;
}
#movetoupperright, #movetoupperrightdos {
	margin-left: 900px;
}
