<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'coursesapp/css/styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Courses</title>
    </head>
    <body>
        <div id="wrapper">
            <form action="{% url 'coursesapp_addusertocourse' %}">{% csrf_token %}<input class="btn btn-default" type="submit" value="Add User to Course" id="movetoupperright"></form>
            <h2>Add a New Course</h2>
            <form action="{% url 'coursesapp_addcourse' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                <input type="text" name="course_name" class="form-control">
                </div>
                </div>
                <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                <input type="text" name="description" class="form-control">
                </div>
                </div>
                <input class="btn btn-default" id="submitadd" type="submit" value="Add">
            </form>
            <hr>
            <h3>Courses</h3>
            <table class="table">
                <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
                {% for course in courses %}
                <tr>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.created_at }}</td>
                    <td><form action="{% url 'coursesapp_removecourse' id=course.id %}">{% csrf_token %}<input class="btn btn-default" type="submit" value="Remove"></form></td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </body>
</html>
