<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'coursesapp/css/styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Remove Course</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="centralize">
                <h3>Confirm Removal</h3>
            <div class="panel panel-default">
                <div class="panel-heading">Are you sure you want to delete the following courses?</div>
                <div class="panel-body">
                    Name: {{course.course_name}}
                </div>
                <div class="panel-body">
                    Description: {{course.description}}
                </div>
                <div id="formid">
                    <form action="{% url 'coursesapp_index' %}">
                    {% csrf_token %}
                    <input class="btn btn-default" type="submit" value ="No">
                    </form>
                </div>
                <div id="formid">
                <form action="{% url 'coursesapp_removethis' id=course.id%}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-default" type="submit" value ="Yes, I want to delete this">
                </form>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
